<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/style.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Больше песиков богу песиков</title>
</head>

<body>

    <div class="header">
        <div class="inner-header">
            <div class="logo-container">
                <h3>Песики для поднятия настроения</h3>
            </div>
        </div>
    </div>

    <div class="content">
        <div class="inner-content">
            <h1>Чтобы поднять себе настроение посмотрите на песиков</h1>
        </div>

        <hr class="hr-container">

        <div class="image-container">
            <img src="{{ image_path }}">
        </div>

        <div class="text-container">
            <h3>
                Чтобы увидеть больше песиков обновите страницу
            </h3>
        </div>
    </div>
</body>
</html>